/*----------------------------------------------
ADDED STYLES 1/2016
------------------------------------------------*/

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    margin-top: 0;
    top: 0;
    overflow-y: auto;
    background-color: rgb(56, 63, 71);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper{
    position: fixed;
    width: 0px;
}

#page-content-wrapper {
    padding: 20px;
    margin-top: 40px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Sidebar Styles */

.navbar-inverse {
    background-color: rgb(56, 63, 71);
}

#logo-wrapper {
    background-color: #303641;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#logo-wrapper > a > img {
    max-width: 95%;
    max-height: 100%;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > li > a,
.sidebar-nav > li > a {
    color: #eee;
    -moz-box-shadow: inset 0 5px 5px -5px #505b6d;
    -webkit-box-shadow: inset 0 5px 5px -5px #505b6d;
    box-shadow: inset 0 5px 5px -5px #505b6d;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.sidebar-nav > li > a:focus,
.sidebar-nav > li > a:hover {
    color: #fff;
    background-color: #303641;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.sidebar-nav > .active > a,
.sidebar-nav > .active > a:focus,
.sidebar-nav > .active > a:hover {
    color: #fff;
    background-color: #252a32;
}


@media(min-width:768px) {

    #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        margin-left: 215px;
    }

    .navbar {
        left: 220px;
    }
}



/*----------------------------------------------
ADDED STYLES
------------------------------------------------*/
.labelDescriptionWrapper {
    padding-bottom: 6px;
}
.checkboxWrapper {
    padding-bottom: 6px;
}
.notice {
    background: #fcf7d9 url(../img/icon-box-notice.png) no-repeat 10px 9px;
    border: 1px solid #f5dc7d;
    border-left-width: 4px;
    color: #c4a21b;
}
.errorMessage, .successMessage, .noticeMessage {
    display: block;
    padding: 10px 20px 10px 44px;
    width: auto;
}
.errorMessage {
    background: #f9e5e6;
    border: 1px solid #f7c7c9;
    color: #b3696c;
}
.successMessage {
    background: #e3ebc6 ;
    border: 1px solid #c2d288;
    color: #8fa442;
}
.noticeMessage {
    background: #fcf7d9;
    border: 1px solid #f5dc7d;
    color: #c4a21b;
}
#jamf-distribution-server, #software-update-server, #netboot-server {
    float: left;
    margin: 10px 3% 30px 3%;
    width: 94%;
}
#packageTable tr td {
    padding: 2px;
}

.settings-row ul li.settings-item {
    width: 100px;
}
.settings-row ul li.settings-item img {
    margin: 0px 0px 5px 20%;
}


/*----------------------------------------------
01 - Base Styles
------------------------------------------------*/

h1,h2,h3,h4,h5,h6,strong {
    font-weight: bold;
}
h1 {
    font-size: 3em;
}
h2 {
    font-size: 2.2em;
    color: #1F448E ;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 2em;
    font-weight: bold;
    color: #5d5a5b;
    font-style: italic;
    text-align: center;
    margin: 40px 0;
}
h4.leftJustified{
    text-align: left;
    margin:0;
}

h5 {
    font-size: 1.1em;
}
.green {
    color: #1F448E ;
}
.red {
    color: #770b0b;
}
/* Header */
header {
    float: left;
    font-weight: bold;
    width: 100%;
}
header a {
    color: #5d5a5b;
    text-decoration: none;
}
header a:hover {
    color: #222;
}

#computers-link {
    float: left;
    height: 71px;
}
#computers-link a {
    background: url("../images/navigation/computer-icon.png") center 28% no-repeat;
    background-size: 38px;
    padding: 52px 10px 7px 10px;
}
#computers-link a:hover {
    background: url("../images/navigation/computer-icon-active.png") center 28% no-repeat;
    background-size: 38px;
    color: #fff;
}
#computers-link.active a {
    background: url("../images/navigation/computer-icon-active.png") center 28% no-repeat;
    background-size: 38px;
    color: #fff;
}
#computers-link:hover {
    background: #2E5A9F;
}
#computers-link.active {
    background: #2E5A9F;
}
#mobile-link {
    float: left;
    height: 71px;
}
#mobile-link a {
    background: url("../images/navigation/mobile-icon.png") center 28% no-repeat;
    background-size: 38px;
    padding: 52px 10px 7px 10px;
}
#mobile-link.active a {
    background: url("../images/navigation/mobile-icon-active.png") center 28% no-repeat;
    background-size: 38px;
    color: #fff;
}
#mobile-link.active {
    background: #2E5A9F;
}
#mobile-link a:hover {
    background: url("../images/navigation/mobile-icon-active.png") center 28% no-repeat;
    background-size: 38px;
    color: #fff;
}
#mobile-link:hover {
    background: #2E5A9F;
}
#notifications, #right-links {
    float: left;
    margin-top: 44px;
}
#notifications {
    position: relative;
}
#notifications span {
    background: url("../images/navigation/notifications-bg.png") no-repeat;
    background-size: 30px 23px;
    float: left;
    margin: -3px 5px 0 0;
    padding-top: 3px;
    height: 24px;
    width: 30px;
    text-align: center;
}
#notifications-modal, #notifications-modal-mobile {
    background: #f9f9f9;
    border: 1px solid #dedede;
    display: none;
    font-size: 0.9em;
    padding: 15% 15% 5% 15%;
    position: absolute;
    top: 36px;
    width: 270px;
}
#notifications-modal h6, #notifications-modal-mobile h6 {
    clear: both;
    float: left;
}
#notifications-modal a, #notifications-modal-mobile a, #user-modal a, #user-modal-mobile a {
    clear: both;
    float: left;
    font-weight: normal;
    margin-bottom: 10px;
    text-decoration: underline;
}
#notifications-modal a.green, #notifications-modal-mobile a.green {
    color: #688f26;
    font-weight: bold;
}
#notifications-modal .handle, #notifications-modal-mobile .handle, #user-modal-mobile .handle {
    clear: both;
    cursor: pointer;
    float: left;
}
#notifications-modal .handle {
    clear: both;
    cursor: pointer;
    float: left;
    margin-left: 45%;
}
#notifications hr, #user-modal hr, #notifications-mobile hr {
    clear: both;
    float: left;
    width: 100%;
}
#notifications h6 {
    clear: both;
    text-decoration: none;
}
#notifications a {
    clear: both;
    float: left;
    margin-bottom: 10px;
}
#right-links, #right-links-mobile {
    float: right;
    padding: 0 1% 0 0;
}
#user, #user-mobile {
    display: block;
    float: left;
    position: relative;
}
#user-link {
    display: block;
    float: left;
}
#user-modal, #user-modal-mobile {
    background: #f9f9f9;
    border: 1px solid #dedede;
    display: none;
    font-size: 0.9em;
    padding: 15% 15% 5% 15%;
    position: absolute;
    top: 36px;
    width: 110px;
    margin-left: -32px;
}
#user-modal .handle {
    clear: both;
    cursor: pointer;
    float: left;
    margin-left: 40%;
}
#user-modal hr {
    margin-top: 10px;
}
#logs {
    background: url("../images/navigation/logs-button.png") left center no-repeat;
    display: block;
    float: left;
    margin: -13px 0 0 20px;
    height: 29px;
    width: 30px;
}
#logs:hover,#logs.active {
    background: url("../images/navigation/logs-button.png") right center no-repeat;
}
#right-links .logs-active {
    background: url("../images/navigation/logs-button.png") right center no-repeat;
}


#settings {
    background: url("../images/navigation/settings.png") no-repeat;
    background-size: 60px 29px;
    display: block;
    float: left;
    margin: -13px 0 0 10px;
    position: relative;
    height: 29px;
    width: 30px;
}
#settings .active-page {
    left: 32%;
    bottom: -26px;
}
#settings:hover, #settings.active {
    background: url("../images/navigation/settings.png") right center no-repeat;
    background-size: 60px 29px;
}
#search-icon {
    background: url("../images/navigation/search.png") no-repeat;
    display: none;
    height: 29px;
    width: 30px;
}
#right-links .settings-active {
    background: url("../images/navigation/settings.png") -30px center no-repeat;
    background-size: 60px 29px;
}
#footer {
    float: left;
    margin: 20px 3% 30px 0;
    text-align: center;
    width: 100%;
}
#footer img{
    padding-left: 20px;
}
#footer span {
    color: fff;
    font-size: 0.85em;
    margin: 10px 0 0 10px;
}
#dual-navigation-page #footer {
    bottom: 0;
    float: left;
    margin: 50px 3% 30px 0;
    padding: 15px 0 0 40px;
    position: fixed;
    text-align: left;
    width: 206px;
    z-index: 1;
}
#dual-navigation-page #footer span {
    float: left;
    clear: both;
    color: #fff;
    font-size: 0.85em;
    margin: 5px 0 0 0px;
    width: 206px;
}
/*----------------------------------------------
02 - Dashboard Styles
------------------------------------------------*/
#dashboard-header {
    background: url("../images/navigation/sidebar-bg2.png") repeat-y #15294B;
    clear: both;
    color: #fff;
    float: left;
    padding: 10px 0;
    width: 100%;
    margin-bottom: 30px;
}
#dashboard-header h2 {
    float: left;
    margin-left: 3%;
    width: 30%;
    color: #fff;
    white-space: nowrap;
}
#dashboard-meta {
    color: #fff;
    float: left;
    font-weight: bold;
    margin: 10px 0 0 0;
    text-align: center;
    width: 67%;
}
#content-wrapper {
    float: left;
    width: 100%;
}

#dashboard-content {
    margin: 30px auto 0;
    margin-top: 0;
    width: 960px;
}
#dashboard-content h3 {
    float: left;
}
#smart-computer-groups, #smart-mobile-device-groups, #policy-statuses, #profile-deployment-statuses, #licenses {
    clear: both;
    float: left;
    margin: 0 3% 30px 3%;
    width: 94%;
}
#inner-dashboard {
    float: left;
    margin: 0 3% 30px 3%;
    width: 94%;
}

.view-all {
    color: #688f26;
    float: left;
    font-size: 0.9em;
    font-weight: bold;
    margin: 5px 0 0 15px;
}
.container {
    border-radius: 10px;
    background: #efefef;
    clear: both;
    float: left;
    font-size: 0.95em;
    margin: 5px 0 0 0;
    width: 920px;
}
.container li {
    border-right: 1px solid #cecece;
    border-top: 1px solid #cecece;
    float: left;
    font-weight: bold;
    padding: 20px 21px 20px 21px;
    width: 110px;
}
.container li:nth-child(6n+6) {
    border-right: none;
}
.container li:nth-child(-n+6) {
    border-top: none;
}
.dashboard-object-link{
    height: 32px;
    overflow: hidden;
}
div.distribution-server li{
    height: 214px
}

.num-computers {
    background: url("../images/navigation/button-bg.png") repeat-x;
    border: 1px solid #848282;
    border-radius: 2px;
    color: #fff;
    float: left;
    margin: 15px 0 0 0;
    padding: 9px 0 0 0;
    text-align: center;
    height: 25px;
    width: 108px;
}
.num-computers-active {
    background: url("../images/navigation/button-bg-active.png") repeat-x;
    border: 0px solid #83b035;
    border-radius: 2px;
    color: #fff;
    float: left;
    margin: 15px 0 0 0;
    padding: 9px 0 0 0;
    text-align: center;
    height: 25px;
    width: 108px;
}
.empty {
    float: left;
    font-style: italic;
    padding: 20px;
}
.centered {
    float: left;
    text-align: center;
}
li canvas {
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: -20px;
}
.completed {
    clear: both;
    float: left;
    margin-bottom: 3px;
    margin-left: 5px;
}
.pending {
    clear: both;
    float: left;
    margin-bottom: 3px;
    margin-left: 5px;
}
.failed {
    margin-left: 5px;
}
.view-failed a {
    color: #1F448E ;
    margin-left: 10px;
    text-decoration: underline;
}
#licenses .container li {
    height: 70px;
}
.license-title {
    clear: both;
    float: left;
    font-weight: bold;
    height: 80%;
    text-align: center;
    width: 100%;
}
.license-stats {
    clear: both;
    float: left;
    font-weight: bold;
    text-align: center;
    height: 20%;
    width: 100%;
}
.license-stats img {
    margin-right: 5px;
    margin-top: -3px;
    margin-left: -5px;
    vertical-align: middle;
}
/*----------------------------------------------
03 - Object List Style Pages
------------------------------------------------*/

/* Search Box */
#searchbox {
    padding: 20px;
}
#close-search {
    display: none;
}


.input input {
    background: #fff url("../images/search-bg.jpg") 95% center no-repeat;
    border: none;
    border-radius: 5px;
    color: #666;
    display: block;
    outline: none;
    -moz-box-shadow: inset 1px 1px 6px rgba(0,0,0,.4);
    -webkit-box-shadow: inset 1px 1px 6px rgba(0,0,0,.4);
    box-shadow: inset 1px 1px 6px rgba(0,0,0,.24);
    width: 90%;
}
.input span {
    font-weight: bold;
    position: absolute;
    padding: 10px;
    margin-left: 3px;
    color: #999;
    z-index: 1;
    cursor: text;
}
.input input, .input textarea, .input select {
    z-index: 0;
    padding: 10px;
    margin: 0;
    font: inherit;
}


/* Hack to remove Safari's extra padding.  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .input input, .input textarea, .input select {
        padding: 10px;
    }
}
/* Table Styles */
#content-inside table td a {
    color: #333;
}
#table-top-targets, #table-top-limitations, #table-top-exclusions, .table-top-targets{
    -webkit-box-sizing: border-box;
    background: url("../images/forms/table-top-bg.png");
    margin: 10px 0;
    padding: 12px 10px 10px 0;
    min-width: 300px;
}
#table-top {
    -webkit-box-sizing: border-box;
    background: url("../images/forms/table-top-bg.png");
    margin: 10px 0;
    padding: 12px 10px 10px 0;
    width: 100%;
    height: 42px;
}
#table-top a, #table-top-targets a, #table-top-limitations a, #table-top-exclusions a, .table-top-targets a{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
}
#table-top a:hover, #table-top-targets a:hover, #table-top-limitations a:hover, #table-top-exclusions a:hover{
    color: #AEAEAE;
}
#table-top img, #table-top-targets img, #table-top-limitations img, #table-top-exclusions img, .table-top-targets img{
    margin: -3px 5px 0 10px;
    vertical-align: middle;
    width: 41px;
    height: 23px;
}


#view-option-container{
    float: right;
    margin-right: 10px;
    margin-top: -3px;
}

#list-view-button{
    background: url("../images/forms/view-list-inactive.png") no-repeat;
    background-size: 24px;
    display: block;
    height: 24px;
    min-width: 24px;
    float: left;
    margin-right: 1px;
}

#list-view-button.active{
    background: url("../images/forms/view-list-active.png") no-repeat;
    background-size: 24px;
}


#grid-view-button{
    background: url("../images/forms/view-grid-inactive.png") no-repeat;
    background-size: 24px;
    display: block;
    height: 24px;
    min-width: 24px;
    float: right;
}
#grid-view-button.active{
    background: url("../images/forms/view-grid-active.png") no-repeat;
    background-size: 24px;
}


table {
    border-bottom: 1px solid #b5b3b4;
    border-top: 1px solid #b5b3b4;
    float: left;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
/* Zebra striping */
tr:nth-of-type(even) {
    background: #e9e9e9;
}
th {
    background: #999999;
    color: white;
    font-weight: bold;
}
td, th {
    padding: 6px;
    border-left: 1px solid #b5b3b4;
    border-right: 1px solid #b5b3b4;
    text-align: left;
    vertical-align: middle;
}
th.centeredHeading{
    text-align: center;
}
th.checkbox{
    width:40px;
}

th.header{
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center right;
}

th.headerSortDown {
    background-image: url(../images/forms/descending.png);
}
th.headerSortUp {
    background-image: url(../images/forms/ascending.png);
}
td a {
    color: #5d5a5b;
    float: left;
    margin-right: 15px;
}
td form {
    float: left;
    margin-top: -1px;
}
td.view-object a.delete {
    background: url("../images/forms/delete-button.png") no-repeat;
    float: right;
    margin: 0;
    height: 20px;
    width: 20px;
}
td.view-object a {
    float: right;
    color: #fff;
}
.information {
    background: url("../images/info-mobile.png") no-repeat;
    float: left;
    margin: 0 20px 0 0;
    height: 23px;
    width: 23px;
}
/*----------------------------------------------
04 - Launch Page Styles
------------------------------------------------*/

#settings-box {
    list-style-type: none;
}
.settings-row {
    float: left;
    padding: 10px 30px 10px 30px;
}
.settings-row:nth-of-type(even) {
    background: #f3f3f3;
}

.settings-row ul li {
    float: left;
    text-align: center;
    list-style-type: none;
}
.settings-row li a {
    color: #615e5e;
    text-decoration: none;
}
.settings-row li a:hover {
    color: #1F448E ;
}
.settings-row li img {
    width: 54px;
    height: 54px;
    display: block;
    margin: 0px 0px 5px 25%;
}
.settings-row span {
    display: block;
    font-weight: bold;
    font-size: 12px;
    padding: 0px 5px;
}


/*----------------------------------------------
Tabs for forms
------------------------------------------------*/

#subtabs{
    height: 60px;
}
#subtabs ul {
    display: block;
    float: left;
    list-style-type: none;
    padding: 10px 0 10px 0;
}
#subtabs ul.topLayer{
    margin-top: -14px;
}
#subtabs ul.bottomLayer{
    margin-top: -34px;
}
#subtabs ul.bottomLayer li{
    height: 16px;
    line-height: 16px;
}
#subtabs ul.topLayer li{
    height: 16px;
    line-height: 16px;
}
#subtabs ul li{
    float: left;
    position: relative;
    overflow: visible;
    padding: 3px 15px;
    height: 20px;
    border-top: 1px solid #b6b6b6;
    border-bottom: 1px solid #aaa;
    -moz-user-select: none;
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: #333;
}
#subtabs ul li:first-child{
    border-left: 1px solid #aaa;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
#subtabs ul li:last-child{
    border-right: 1px solid #aaa;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
#subtabs ul li.active{
    border-right: 1px solid #aaa;
    font-weight: bold;
    box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.4), 0pt 1px 2px rgba(0, 0, 0, 0.3) inset;
    background: #d5d5d5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d5d5d5));
    background: -webkit-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -moz-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -ms-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -o-linear-gradient(top, #f2f2f2, #d5d5d5);
}
#subtabs ul li.inactive{
    margin: -1px 0 0 0;
    padding: 4px 15px 3px 15px;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #aaa;
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dbdbdb));
    background: -webkit-linear-gradient(top, #fff, #dbdbdb);
    background: -moz-linear-gradient(top, #fff, #dbdbdb);
    background: -ms-linear-gradient(top, #fff, #dbdbdb);
    background: -o-linear-gradient(top, #fff, #dbdbdb);
}
#subtabs ul li.inactive:first-child{
    border-left: 1px solid #aaa;
}
#subtabs ul li.active:hover{
    box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.4), 0pt 1px 2px rgba(0, 0, 0, 0.3) inset;
    background: -webkit-gradient(linear, left top, left bottom, from(#ececec), to(#bdbdbd));
    background: -webkit-linear-gradient(top, #ececec, #bdbdbd);
    background: -moz-linear-gradient(top, #ececec, #bdbdbd);
    background: -ms-linear-gradient(top, #ececec, #bdbdbd);
    background: -o-linear-gradient(top, #ececec, #bdbdbd);
}
#subtabs ul li.inactive:hover{
    -moz-box-shadow:inset 0 1px 4px #fff;
    -webkit-box-shadow:inset 0 1px 4px #fff;
    box-shadow:inset 0 1px 4px #fff;
    background: #d5d5d5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d5d5d5));
    background: -webkit-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -moz-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -ms-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -o-linear-gradient(top, #f2f2f2, #d5d5d5);
}
#subtabs ul li.active:active,
#subtabs ul li.inactive:active{
    margin: 0;
    padding: 3px 15px 3px 15px;
    box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.4), 0pt 1px 2px rgba(0, 0, 0, 0.3) inset;
    background: #d5d5d5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d5d5d5));
    background: -webkit-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -moz-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -ms-linear-gradient(top, #f2f2f2, #d5d5d5);
    background: -o-linear-gradient(top, #f2f2f2, #d5d5d5);
}






/*----------------------------------------------
05 - Form Styles
------------------------------------------------*/
#form-wrapper {
    border: #CCCCCC 1.5px solid;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    font-family: Lucida Grande, Verdana, Helvetica, Arial, sans-serif;;
}
#form-wrapper .noborder{
    border: red 5px solid;
}
#form-inside{
    padding: 20px 0 20px 20px;
}
#form-inside.side-navigation{
    padding: 1px 0;
}

#form-wrapper.Setup{
    background-image: url('../images/assistants/jssSetupAssistant.png');
    background-repeat:no-repeat;
}
#form-wrapper.Package{
    background-image: url('../images/assistants/packageAssistant.png');
    background-repeat:no-repeat;
}
#form-wrapper.PushNotificationKeystore{
    background-image: url('../images/assistants/pushNotifictionKeystore.png');
    background-repeat:no-repeat;
}
#form-wrapper.LDAPServer{
    background-image: url('../images/assistants/ldapAssistant.png');
    background-repeat:no-repeat;
}

.indent1{
    padding-left:20px;
}
.indent2{
    padding-left:40px;
}
.labelDescriptionWrapper{
    padding-bottom: 6px;
}

.checkboxWrapper{
    padding-bottom: 6px;
}
.radioButtonWrapper{
    padding-bottom: 6px;
}
.add-scope-padding{
    padding: 20px 0 20px 20px;
}
#form-wrapper input::-webkit-input-placeholder {
    font-size: 11px;
}
#delete-verification{
    padding: 20px;
    display: none;
}
#form-buttons, #secondary-form-buttoms{
    border-top: #CCCCCC 1.5px solid;
    width: 100%;
    height: 50px;
}
#form-wrapper .label {
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}
#form-wrapper .labelModifier {
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    font-style: italic;
    text-decoration: none;
}
#form-wrapper .dateDivider {
    font-size: 12px;
    text-decoration: none;
}
#form-wrapper .labelValueWrapper{
    display: block;
    min-height: 24px;
}
#form-wrapper .labelAndValueLabel{
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    float: left;
    width: 40%;
    text-align: right;
    padding-top: 5px;
    overflow: hidden;
    min-height: 18px;
    max-width:40%;
}
#form-wrapper .labelAndValueDivider{
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-right: 4px;
    padding-top: 5px;
    min-height: 18px;
}
#form-wrapper .labelAndValueValue{
    font-size: 12px;
    display: block;
    padding-top: 5px;
    min-height: 18px;
    width: 58%;
    max-width:58%;
    float: right;
}

#form-wrapper .disabled {
    color: #999;
}
#form-wrapper select{
    margin-bottom: 10px;
}

#form-wrapper .description {
    font-size: 12px;
    padding: 1px 0 2px 0;
    color: #999;
    display: block;
    text-decoration: none;
}

#form-wrapper .unit-of-measurement {
    font-size: 12px;
    text-decoration: none;
    line-height: 22px;
}

#form-wrapper .disabled {
    color: #9A9A9A;
}

#form-wrapper .required {
    background: url("../images/forms/required.png") no-repeat bottom;
    background-position: left;
    background-size: 16px;
    border: none;
    float: none;
    padding: 2px 20px;
}
#form-wrapper .error{
    text-align: right;
    font-style: italic;
    font-size: .85em;
    color: red;
}
#form-wrapper .hidden {
    display:none;
}

#form-wrapper [type=search]{
    margin-bottom: 20px;
}
#form-wrapper [type=checkbox]{
    padding: 0 0 0 3px;
    width: 20px;
    margin: 0 0 0 0;
}
#form-wrapper .grid [type=checkbox]{
    padding: 0 0 0 3px;
    width: 24px;
    margin: 2px 0 0 10px;
    vertical-align: middle;
}


#form-wrapper input ,
#form-wrapper textarea{
    padding: 0 0 0 3px;
    font-size: 12px;
    color: black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #aaa;
    margin: 0 0 10px 0;
    vertical-align: top;
    width: 240px;
    font-size: 12px;
}
#form-wrapper input:disabled,
#form-wrapper textarea:disabled{
    background-color:transparent;
    border: 1px solid #eee;
    color: #585858;
}
#form-wrapper [type=radio]{
    padding: 0;
    width: 24px;
    margin: 0 0 0 10px;
}
#form-wrapper input{
    height: 20px;
}

#form-wrapper input.error{
    color:red;
}

#form-wrapper input.small{
    max-width: 60px;
    width: 100%;
}


#form-wrapper input.wide{
    max-width: 480px;
    width: 100%;
}
#form-wrapper input.passcode{
    height: 40px;
    width: 120px;
    font-size: 1.6em;
    margin: 10px;
}
#form-wrapper input.passcode::-webkit-input-placeholder {
    font-size: 19px;
}
#form-wrapper span.passcode{
    position: absolute;
    margin-top: 20px;
    font-size: 1em;
}


#form-wrapper textarea{
    height: 40px;
}
#form-wrapper textarea.wide{
    max-width: 480px;
    width: 100%;
}

#form-wrapper input.alternativeButton{
    display:block;
    float: left;
    margin-left: 20px;
}
#form-wrapper input.cancelButton,
#form-wrapper input.submitButton,
#form-wrapper input.deleteButton{
    display:block;
    float: right;
}



#form-wrapper input.cancelButton,
#form-wrapper input.alternativeButton{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    margin-right: 20px;
    height: 30px;
    width: auto;
    margin-top: 10px;
}
#form-wrapper input.cancelButton:hover,
#form-wrapper input.alternativeButton:hover{
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
#form-wrapper input.cancelButton:active,
#form-wrapper input.alternativeButton:active{
    position:relative;
    top:1px;
}

#form-wrapper input.submitButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #6398d1;
    -webkit-box-shadow:inset 0px 1px 0px 0px #6398d1;
    box-shadow:inset 0px 1px 0px 0px #6398d1;
    background:-webkit-gradient( linear, left top, left bottom,color-stop(0.05, #6398d1), color-stop(1, #2e599f) );
    background:-moz-linear-gradient( center top, #6398d1 5%, #2e599f 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6398d1', endColorstr='#2e599f');
    background-color:#6398d1;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #2e599f;
    display:inline-block;
    color:#10294b;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #7ca8d6;
    float: right;
    margin-right: 20px;
    height: 30px;
    width: auto;
    margin-top: 10px;
}
#form-wrapper input.submitButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #2e599f), color-stop(1, #6398d1) );
    background:-moz-linear-gradient( center top, #2e599f 5%, #6398d1 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e599f', endColorstr='#6398d1');
    background-color:#2e599f;
}
#form-wrapper input.submitButton:active {
    position:relative;
    top:1px;
}

#form-wrapper input.deleteButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
    -webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
    box-shadow:inset 0px 1px 0px 0px #f29c93;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
    background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
    background-color:#fe1a00;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #d83526;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #b23e35;
    float: right;
    margin-right: 20px;
    height: 30px;
    width: auto;
    margin-top: 10px;
}
#form-wrapper input.hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
    background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
    background-color:#ce0100;
}
#form-wrapper input.deleteButton.active {
    position:relative;
    top:1px;
}


#form-wrapper ul.tabs {
    height:28px;
    width:100%;
    list-style-type:none;
    white-space: nowrap;
    border-bottom: #CCCCCC 1.5px solid;
    padding-bottom:6px;
    font-weight: bold;
}
#form-wrapper ul.tabs li{
    position: relative;
    display:inline;
    padding: 0;
    margin: -1px 0 0 -1px;
    float: left;
    border: #CCCCCC 1.5px solid;
    text-align: -webkit-auto;
}
#form-wrapper ul.tabs li.active {
    background: #eee;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.1, #ededed), color-stop(1, #dfdfdf) );
}
#form-wrapper ul.tabs li a {
    vertical-align: bottom;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 9px 10px 9px 10px;
    float: right;
}
#form-wrapper ul.tabs li img {
    margin: 0px auto;
    display:none;
    padding: 4px 16px;
    width:24px;
    height:24px;
    margin-bottom: 3px;
}

#form-wrapper table{
    width: auto;
    float: none;
}

#form-wrapper table.input{
    width: 10px;
}

#form-wrapper p.filename {
    float: left;
    margin-right: 10px;
}
#form-wrapper input.insideTableButton,
#form-wrapper input.insideCancelButton,
#form-wrapper input.insideActionButton{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0 12px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    margin-right: 20px;
    width: auto;

}
#form-wrapper input.insideTableButton{
    margin:0;
}





.mdmCommandButton {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    text-align:center;
    min-width: 140px;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px 6px 46px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    background-repeat:no-repeat;
    background-position: 10px;
    background-size: 22px 22px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.mdmCommandButton:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
    background-repeat:no-repeat;
    background-position: 10px;
    background-size: 22px 22px;
}
.mdmCommandButton:active {
    position:relative;
    top:1px;
    background-repeat:no-repeat;
    background-position: 10px;
    background-size: 22px 22px;
}

.clearPasscode, .clearPasscode:hover, .clearPasscode:active {
    background-image: url("../images/mdmcommands/ClearPasscode.png");
}
.lockDevice, .lockDevice:hover, .lockDevice:active {
    background-image: url("../images/mdmcommands/DeviceLock.png");
}
.unenrollDevice, .unenrollDevice:hover, .unenrollDevice:active {
    background-image: url("../images/mdmcommands/UnmanageDevice.png");
}
.updateInventory, .updateInventory:hover, .updateInventory:active {
    background-image: url("../images/mdmcommands/UpdateInventory.png");
}
.wipeDevice, .wipeDevice:hover, .wipeDevice:active {
    background-image: url("../images/mdmcommands/EraseDevice.png");
}



/*----------------------------------------------
 Assistant Interfaces
------------------------------------------------*/

div.assistantStages{
    margin:-1px;
    width: 20%;
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0;
    box-sizing:border-box; -moz-box-sizing:border-box;
    border: 1px #a4a4a4;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    float: left;
    overflow-y: auto;
    overflow-x:hidden;
    min-height:300px;
}

div.assistantContentPane{
    margin: 25px 0 0 0;
    width: 80%;
    border-width: 0px;
    border: 1px #a4a4a4;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style:none;
    overflow-y: auto;
    min-height:380px;

}
div.assistantContent{
    margin:25px 0;
    padding: 25px 0 25px 25px;
    border: 1px solid #DDDDDD;
    background-color: #FAFAFA;
    width:92%;
    min-height: 230px;

}
ul.assistantStages,
ul.assistantStages li{
    border:0;
    margin:0;
    margin-right: 20px;
    padding: 90px 20px 45px 20px;
    list-style: none;
    background-size:14px 14px;
    background-repeat:no-repeat;

}
div.assistantContentHeading{
    font-weight: bold;
    margin-bottom: 16px;
}
ul.assistantStages{
    width: 180px;
    border:solid 0px;
    height: 100%;
}

ul.assistantStages li{
    margin: 3px -20px 9px 20px;
    padding: 2px 0 0 20px;
    height: 20px;
    width: 100%;
    text-align: left;
}

ul.assistantStages li.current{
    font-weight: bold;
    background: url(../images/assistants/currentStep.png) no-repeat 0 3px;
}
ul.assistantStages li.next{
    background: url(../images/assistants/pendingStep.png) no-repeat 0 3px;
}
ul.assistantStages li.complete{
    background: url(../images/assistants/completeStep.png) no-repeat 0 3px;
    font-weight: bold;
}



/*----------------------------------------------
 Login Window
------------------------------------------------*/
.overlay {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#5D5A5B;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:8px;
    border:1px solid #5D5A5B;
    padding-top: -10px;
    display:none;
    position: fixed;
    top: 50%;
    left: 40%;
    width: 400px;
    min-height: 130px;
    background-color: #EEE;
    z-index: 10000;
}
#importFile{
    width: 100%;
}

.overlay #header{
    font-size: 1em;
    color: white;
    font-weight: bold;

    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5D5A5B), color-stop(1, #5D5A5B) );
    background:-moz-linear-gradient( center top, #5D5A5B 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5D5A5B', endColorstr='#5D5A5B');
    background-color:#5D5A5B;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border-bottom:1px solid #dcdcdc;
    border-bottom-left-radius: 0 0;
    border-bottom-right-radius: 0 0;
    padding: 5px;
}

.overlay #content{
    padding: 10px;
}
.overlay #buttons{
    width: 100%;
    padding-top: 5px;
    border-top:2px solid #dcdcdc;
    min-height: 28px;
}
.overlay p{
    margin-bottom: 10px;
    min-height: 16px;
}
.overlay #buttons input{
    margin-right: 12px;
    float: right;
}
.overlay #buttons input.choose-existing-button{
    float: left;
    margin-left: 12px;
}

.progress-bar-outer-border
{
    max-width: 100%;
    display: block;
    width: 375px;
    height: 15px;
    margin: 10px 0 10px 0;
    background-color: white;
    border: 1px solid #B0B0B0 ;
    -webkit-box-shadow: 3px 3px 3px #D3D3D3;
    box-shadow: 3px 3px 3px #D3D3D3;
    border-radius: 2px;
}
.progress-bar-inner-progress
{
    display: block;
    float: left;
    width: 0%;
    height: 16.5px;
    margin-top: -1px;
    margin-left: 0px;
    background:url(../images/startup/aqua-progress-bar.gif);
    border-radius: 2px;
}
.current_progress_details{
    font-weight: normal;
    font-size: 10px;
    overflow: none;
    display: block;
    clear: both;
    padding: 6px 0 0 10px;
}



/*----------------------------------------------
06 - Login Window
------------------------------------------------*/
#login-wrapper{
    width: 100%;
    align: center;
}
#login-panel{
    width: 588px;
    margin: 100px auto;
    background: url("../images/login/standard.png") no-repeat;
    background-size: 588px 323px;
    height: 325px;
    padding-top: 100px;
}
#login-panel .label {
    color: white;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    margin: 0 0 0 260px;
}
#login-panel .input{
    padding: 0 0 0 2px;
    font-size: 12px;
    color: #6a6a6a;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #aaa;
    margin: 0 0 10px 260px;
    vertical-align: top;
    width: 180px;
    font-size: 12px;
    display: block;
}
#login-panel .button{
    margin: 0 0 10px 260px;
}


/*----------------------------------------------
07 - Progress Bars
------------------------------------------------*/

#progress-bar-wrapper{
    width: 100%;
    align: center;
}

#progress-bar-gradient-background{
    padding-top: 60px;
    width: 50%;
    margin: 100px auto;
    background:url(../images/startup/gradient.png);
    width: 677px;
    height: 215px;
}
#progress-bar-logo{
    margin-left: 50px;
    background:url(../images/navigation/NSUS-logo-plain.png) no-repeat;
    background-size: 65px 65px;
    width: 65px;
    height: 65px;
    float: left;
}
#progess-bar-inner-wrapper{
    float: right;
    padding-right: 40px;
    width: 500px;
}
#progress-bar-gradient-background .progress-bar-outer-border
{
    display: block;
    width: 500px;
    height: 15px;
    margin: 2px 0 6px 0;
    background-color: white;
    border: 1px solid #B0B0B0 ;
    -webkit-box-shadow: 3px 3px 3px #D3D3D3;
    box-shadow: 3px 3px 3px #D3D3D3;
}
#progress-bar-gradient-background .progress-bar-inner-progress
{
    display: block;
    float: left;
    width: 0%;
    height: 16.5px;
    margin-top: -1px;
    margin-left: 0px;
    background:url(../images/startup/aqua-progress-bar.gif);
}


