/*----------------------------------------------
Miscellaneous
------------------------------------------------*/
html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
}
.table {
    margin-bottom: 5px;
}
.no-background {
    background: none;
    border: none;
    min-width: 85px;
    text-align: left;
    padding-left: 0;
}
.proxy-min-width {
    min-width: 200px;
}
.no-border {
    border: none;
}

/*----------------------------------------------
BS Callouts for Dashboard
------------------------------------------------*/
.bs-callout {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
    background-color: #F8F8F8;
}
.bs-callout h4 {
    font-size: 11pt;
    margin-top: 0;
    margin-bottom: 8px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/*----------------------------------------------
1 Upper Navigation
------------------------------------------------*/
.navbar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*----------------------------------------------
2 Side Navigation
------------------------------------------------*/
.navbar-inverse {
    background-color: rgb(56, 63, 71);
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    margin-top: 0;
    top: 0;
    overflow-y: auto;
    background-color: rgb(56, 63, 71);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#logo-wrapper {
    background-color: #303641;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#logo-wrapper > a > img {
    max-width: 95%;
    max-height: 100%;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > li > a,
.sidebar-nav > li > a {
    color: #eee;
    -moz-box-shadow: inset 0 5px 5px -5px #505b6d;
    -webkit-box-shadow: inset 0 5px 5px -5px #505b6d;
    box-shadow: inset 0 5px 5px -5px #505b6d;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.sidebar-nav > li > a:focus,
.sidebar-nav > li > a:hover {
    color: #fff;
    background-color: #303641;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.sidebar-nav > .active > a,
.sidebar-nav > .active > a:focus,
.sidebar-nav > .active > a:hover {
    color: #fff;
    background-color: #252a32;
}

/*----------------------------------------------
3 Page Content Wrapper
------------------------------------------------*/
#page-content-wrapper {
    position: absolute;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*----------------------------------------------
4 Text Styles
------------------------------------------------*/
.description {
    font-size: 12px;
    padding: 1px 0 2px 0;
    color: #999;
    display: block;
    text-decoration: none;
    /*margin-top: 12px;*/
}
hr {
    margin: 0;
}


/*----------------------------------------------
5 Panel/Label Sub Headings
------------------------------------------------*/
.panel .panel-default {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading .page-heading{
    background-color: #EEE;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
    padding: 5px;
}

.no-pad-top {
    padding-top: 0;
}
.panel .panel-default > .panel-heading {
    background-image: none;
    background-color: white;
}

.label-default {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    background: none;
    text-align: left;
    color: black;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    padding: 6px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

.control-label {
    padding-top: 7px;
    margin-bottom: 2px;
    font-size: 10pt;
}

/*----------------------------------------------
6 Buttons/Input
------------------------------------------------*/
.btn-primary {
    background: #426daf;
}
.alert-with-button {
    overflow: auto;
    line-height: 30px;
}
.input-group-addon .min-width {
    min-width: 140px;
}

/*----------------------------------------------
7 Radio Buttons
------------------------------------------------*/
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #337ab7; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

/*----------------------------------------------
8 Alert Boxes
------------------------------------------------*/
.alert-margin-top {
    margin-top: 20px;
}

/*----------------------------------------------
9 Settings Page
------------------------------------------------*/
.settings-item a {
    text-align: center;
}
.settings-item img {
    width: 75px;
}

/*----------------------------------------------
10 Login Page
------------------------------------------------*/
.panel-login {
    background-image: none;
    background-color: #f5f5f5;
    /*border: none;*/
    margin-top: 70px;
}
.panel-login > .panel-heading {
    background-color: #303641;
    -webkit-box-shadow: 0 4px 4px -2px #D3D3D3;
    -moz-box-shadow: 0 4px 4px -2px #D3D3D3;
    box-shadow: 0 4px 4px -2px #D3D3D3;
    padding-bottom: 13px;
}
.panel-login > .panel-body {
    padding: 20px;
}
#login-form > div {
    margin-bottom: 25px;
}
#login-form > .password {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*----------------------------------------------
11 Responsive Design
------------------------------------------------*/
@media(min-width:768px) {

    #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        padding-left: 240px;
    }

    .navbar {
        left: 220px;
    }
}






