/*----------------------------------------------
Miscellaneous
------------------------------------------------*/

body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
.table {
    margin-bottom: 5px;
}
.no-background {
    background: none;
    border: none;
    min-width: 85px;
    text-align: left;
    padding-left: 0;
}
.proxy-min-width {
    min-width: 200px;
}
.marg-right {
    margin-right: 16px;
}
.dropdown-menu > li > a {
    font-size: 9pt;
}
#overDiv {
    -webkit-box-shadow: 0px 2px 10px 1px rgba(163,163,163,1);
    -moz-box-shadow: 0px 2px 10px 1px rgba(163,163,163,1);
    box-shadow: 0px 2px 10px 1px rgba(163,163,163,1);
}
.table-center {
    text-align: center;
    vertical-align: middle;
}
.form-inline > .input-group > .form-control {
    width: auto;
}
.nav-tabs {
    padding: 0;
    white-space: nowrap;
}
h2 {
    margin-top: 0;
    color: #263238;
}
.label-marg-fix {
    margin-top: 0;
}
.tab-pane {
    margin-top: 10px;
}
.col-centered {
    float: none;
    margin: 0 auto;
}
.service-settings {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 17px;
    margin-left: 8px;
    border-left: 1px solid #eee;
}

/*----------------------------------------------
NetSUS Icons
------------------------------------------------*/
@font-face {
  font-family: 'netsus-icons';
  src:  url('../fonts/netsus-icons.eot?etkipk');
  src:  url('../fonts/netsus-icons.eot?etkipk#iefix') format('embedded-opentype'),
    url('../fonts/netsus-icons.ttf?etkipk') format('truetype'),
    url('../fonts/netsus-icons.woff?etkipk') format('woff'),
    url('../fonts/netsus-icons.svg?etkipk#netsus-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
.netsus-icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'netsus-icons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-netboot:before {
  content: "\e900";
}
.icon-sus:before {
  content: "\e901";
}
.icon-patch:before {
  content: "\e902";
}

/*----------------------------------------------
bs-callout for Dashboard
------------------------------------------------*/
.dashboard-item img {
    width: 84px;
    margin-left: 12px;
}
.bs-callout {
    padding: 10px;
    height: 90px;
}
.bs-callout h4 {
    font-size: 12pt;
    margin-top: 0;
    margin-bottom: 8px;
    color: #777;
}
@media (max-width: 600px) {
    .bs-callout {
        height: 110px;
    }
}

/*----------------------------------------------
Upper Navigation
------------------------------------------------*/
.navbar-toggle.navbar-left {
    float: left;
    margin-left: 10px;
    margin-right: 0px;
}
.navbar-user {
    position: absolute;
    top: 0px;
    right: 110px;
    height: 50px;
}
.navbar-flash {
    position: absolute;
    top: 0px;
    right: 60px;
    height: 50px;
}
.navbar-gear {
    position: absolute;
    top: 0px;
    right: 10px;
    height: 50px;
}
.navbar-btn-icon {
    height: 50px;
    width: 50px;
    padding: 10px;
    margin-bottom: -2px;
    background-color: transparent;
    border: 1px solid transparent;
}
.navbar-btn-icon:focus {
    outline: 0;
}
.navbar-default .navbar-btn-icon {
    color: #777;
}
.navbar-default .navbar-btn-icon:hover,
.navbar-default .navbar-btn-icon:focus {
    color: #333;
}
.navbar-default .navbar-btn-icon:focus {
    color: #555;
    background-color: #e7e7e7;
}
.navbar-inverse .navbar-btn-icon {
    color: #9d9d9d;
}
.navbar-inverse .navbar-btn-icon:hover,
.navbar-inverse .navbar-btn-icon:focus {
    color: #fff;
}
.navbar-inverse .navbar-btn-icon.disabled:hover,
.navbar-inverse .navbar-btn-icon[disabled]:hover,
.navbar-inverse .navbar-btn-icon.disabled:focus,
.navbar-inverse .navbar-btn-icon[disabled]:focus {
    color: #9d9d9d;
}
.navbar-inverse .navbar-btn-icon:focus {
    background-color: #080808;
}
.navbar-inverse .navbar-btn-icon.disabled:focus,
.navbar-inverse .navbar-btn-icon[disabled]:focus {
    background-color: none;
}
.navbar-btn-icon .badge {
    position: absolute;
    top: 3px;
    right: 3px;
    background-color: #d9534f;
}
.dropdown-menu.dropdown-menu-navbar {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    font-size: 12px;
}
/*----------------------------------------------
Side Navigation
------------------------------------------------*/
.navbar-inverse {
    background-color: #212121;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled {
    padding-left: 220px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    margin-top: 0;
    top: 0;
    overflow-y: auto;
    background-color: #292929;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
    width: 220px;
}
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 220px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > li > a,
.sidebar-nav > li > a {
    color: #959595;
    font-size: 9pt;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.sidebar-nav > li > a:focus,
.sidebar-nav > li > a:hover {
    color: #fff;
    background-color: #23385e;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.sidebar-nav > .active > a,
.sidebar-nav > .active > a:focus,
.sidebar-nav > .active > a:hover {
    color: #fff;
    background-color: #3f64a9;
    -webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;
}

/*----------------------------------------------
Lower Navigation
------------------------------------------------*/
#nav-footer {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.btn-footer {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

/*----------------------------------------------
Page Content Wrapper
------------------------------------------------*/
#page-content-wrapper {
    position: absolute;
    padding: 20px 0px;
    margin-top: 50px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding-bottom: 50px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -220px;
}

/*----------------------------------------------
Page Title Navigation
------------------------------------------------*/
#nav-title {
    top: 51px;
    height: 83px;
    border-bottom: 1px solid #eee;
    background: #fff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*----------------------------------------------
Text Styles
------------------------------------------------*/
.description {
    font-size: 12px;
    padding: 1px 0 2px 0;
    color: #999;
    display: block;
    text-decoration: none;
}
hr {
    margin: 0;
}

/*----------------------------------------------
Panel/Label Sub Headings
------------------------------------------------*/
.panel-main {
    box-shadow: 0px 1px 3px 0px rgba(199, 199, 199, 0.5);
    -moz-box-shadow: 0px 1px 3px 0px rgba(199, 199, 199, 0.5);
    -webkit-box-shadow: 0px 1px 3px 0px rgba(199, 199, 199, 0.5);
    border: 1px solid #DDDDDD;
}
.panel-default > .panel-heading {
    padding: 8px 8px 8px 12px;
    font-size: 13px;
    color: #6D6D6D;
}
.panel-default > .panel-footer {
    padding: 8px 8px 8px 12px;

}
.label-default {
    font-size: 13px;
    display: block;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: left;
    border: 1px solid #DDDDDD;
    color: #6D6D6D;
    background-color: #F5F5F5;
    padding: 8px 8px 8px 12px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}
.control-label {
    padding-top: 7px;
    margin-bottom: 2px;
    font-size: 10pt;
}
.form-inline {
    width: 100%;
}

/*----------------------------------------------
Buttons/Input
------------------------------------------------*/
.btn-primary {
    background: #3f64a9;
}
.alert-with-button {
    overflow: auto;
    line-height: 30px;
}
.input-group-addon .min-width {
    min-width: 140px;
}
.s-info {
    font-size: 14px;
    cursor: pointer;
}
.tab-font {
    font-size: 12px;
}

/*----------------------------------------------
Radio Buttons
------------------------------------------------*/
.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
    background-color: #3f64a9; }
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #3f64a9; }
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #3f64a9; }

.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c; }

/*----------------------------------------------
Settings Page
------------------------------------------------*/
.settings-item a {
    text-align: center;
}
.settings-item img {
    width: 54px;
}

/*----------------------------------------------
Login Page
------------------------------------------------*/
.login-wrapper {
    float: right;
    position: relative;
    left: -50%;
    text-align: left;
}
.login-wrapper > .login-panel {
    position: relative;
    left: 50%;
    width: 300px;
    margin-top: 70px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.panel-login {
    background-image: none;
    background-color: #f5f5f5;
    margin-top: 70px;
    border: none;
    -webkit-box-shadow: 0px 2px 8px 2px rgba(168,168,168,0.77);
    -moz-box-shadow: 0px 2px 8px 2px rgba(168,168,168,0.77);
    box-shadow: 0px 2px 8px 2px rgba(168,168,168,0.77);
}
.panel-login > .panel-heading {
    border: none;
    background-color: #263238;
    padding-bottom: 13px;
}
.panel-login > .panel-body {
    padding: 20px;
}
#login-form > div {
    margin-bottom: 25px;
}
#login-form > .password {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*----------------------------------------------
Responsive Design
------------------------------------------------*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 220px;
    }

    #wrapper.toggled {
        padding-left: 220px;
    }

    #sidebar-wrapper {
        width: 220px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }

    #nav-title {
        left: 220px;
    }

    #nav-footer {
        left: 220px;
    }
}
