/*----------------------------------------------
New GUI Styles Page Added 1/2016
------------------------------------------------*/
html {
    overflow-x: hidden;
}
body {
    font-family: 'Roboto', sans-serif;
}
.table {
    margin-bottom: 5px;
}

/*----------------------------------------------
1 Upper Navigation
------------------------------------------------*/
.navbar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*----------------------------------------------
2 Side Navigation
------------------------------------------------*/
.navbar-inverse {
    background-color: rgb(56, 63, 71);
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    margin-top: 0;
    top: 0;
    overflow-y: auto;
    background-color: rgb(56, 63, 71);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#logo-wrapper {
    background-color: #303641;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
#logo-wrapper > a > img {
    max-width: 95%;
    max-height: 100%;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > li > a,
.sidebar-nav > li > a {
    color: #eee;
    -moz-box-shadow: inset 0 5px 5px -5px #505b6d;
    -webkit-box-shadow: inset 0 5px 5px -5px #505b6d;
    box-shadow: inset 0 5px 5px -5px #505b6d;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.sidebar-nav > li > a:focus,
.sidebar-nav > li > a:hover {
    color: #fff;
    background-color: #303641;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.sidebar-nav > .active > a,
.sidebar-nav > .active > a:focus,
.sidebar-nav > .active > a:hover {
    color: #fff;
    background-color: #252a32;
}

/*----------------------------------------------
3 Page Content Wrapper
------------------------------------------------*/
#page-content-wrapper {
    position: absolute;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/*----------------------------------------------
4 Text Styles
------------------------------------------------*/
.description {
    font-size: 12px;
    padding: 1px 0 2px 0;
    color: #999;
    display: block;
    text-decoration: none;
    margin-top: 12px;
}
hr {
    margin: 0;
}


/*----------------------------------------------
5 Panel/Label Sub Headings
------------------------------------------------*/
.panel .panel-default {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading .page-heading{
    background-color: #EEE;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
    padding: 5px;
}

.no-pad-top {
    padding-top: 0;
}
.panel .panel-default > .panel-heading {
    background-image: none;
    background-color: white;
}

.label-default {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    background: none;
    text-align: left;
    color: black;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    padding: 6px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

/*----------------------------------------------
6 Buttons/Input
------------------------------------------------*/
.btn-primary {
    background: #426daf;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}
.alert-with-button {
    overflow: auto;
    line-height: 30px;
}
.input-group-addon {
    min-width: 140px;
}

/*----------------------------------------------
7 Forms
------------------------------------------------*/
#form-wrapper {
    width: 100%;
    height: 100%;
}

/*----------------------------------------------
8 Alert Boxes
------------------------------------------------*/
.alert-margin-top {
    margin-top: 20px;
}

/*----------------------------------------------
9 Settings Page
------------------------------------------------*/
.settings-item a {
    text-align: center;
}
.settings-item img {
    width: 75px;
}

/*----------------------------------------------
10 Login Page
------------------------------------------------*/
#login-body {
    background-color: #fff;
}
#loginbox {
    margin-top: 50px;
}
#loginbox > div:first-child {
    padding-bottom: 10px;
}
.panel-login {
    background-image: none;
    background-color: #f5f5f5;
    border: none;
}
.panel-login > .panel-heading {
    background-color: #303641;
}
.panel-login > .panel-body {
    padding-top: 30px;
}
#form > div {
    margin-bottom: 25px;
}
#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

/*----------------------------------------------
11 Responsive Design
------------------------------------------------*/
@media(min-width:768px) {

    #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        padding-left: 240px;
    }

    .navbar {
        left: 220px;
    }
}





