/*----------------------------------------------
ADDED STYLES 1/2016
------------------------------------------------*/
html {
    overflow-x: hidden;
}

form > .container-fluid {
    padding-left: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

.long-text-input {
    width: 300px;
}

.btn-primary {
    vertical-align: middle;
    height: 27px;
    background: #426daf;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
}

.panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-heading .page-heading{
    background-color: #EEE;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 12px;
    padding: 5px;
}

.panel-body {
    background: #EEE;
}
.panel > .panel-heading {
    background-image: none;
    background-color: #f9f9f9;
}
.alert-margin-top {
    margin-top: 20px;
}

.alert-info {
    padding: 10px;
    color:#444;
    background-color:#EEE;
    border-color:#DDD;
}

#form-wrapper input.insideTableButton,
#form-wrapper input.insideCancelButton,
#form-wrapper input.insideActionButton{
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dadada), color-stop(1, #bababa) );
    background:-moz-linear-gradient( center top, #dadada 5%, #bababa 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#555;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    padding:0 12px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
    margin-right: 20px;
    width: auto;
    height: 20px;

}

#form-wrapper {
    width: 100%;
    height: 100%;
}
.label {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
    background: none;
    text-align: left;
    color: black;
    background-color: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    padding: 6px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
}

#form-wrapper .description {
    font-size: 12px;
    padding: 1px 0 2px 0;
    color: #999;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 220px;
    width: 0;
    height: 100%;
    margin-left: -220px;
    margin-top: 0;
    top: 0;
    overflow-y: auto;
    background-color: rgb(56, 63, 71);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#sidebar-wrapper{
    position: fixed;
    width: 0px;
}

#page-content-wrapper {
    position: absolute;
    padding: 20px;
    margin-top: 30px;
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.navbar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


/* Sidebar Styles */

.navbar-inverse {
    background-color: rgb(56, 63, 71);
}

#logo-wrapper {
    background-color: #303641;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 12px;
    width: 220px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

#logo-wrapper > a > img {
    max-width: 95%;
    max-height: 100%;
}

.sidebar-nav li {
    text-indent: 5px;
    line-height: 30px;
    white-space: nowrap;
}
.navbar-inverse .navbar-nav > li > a,
.sidebar-nav > li > a {
    color: #eee;
    -moz-box-shadow: inset 0 5px 5px -5px #505b6d;
    -webkit-box-shadow: inset 0 5px 5px -5px #505b6d;
    box-shadow: inset 0 5px 5px -5px #505b6d;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover,
.sidebar-nav > li > a:focus,
.sidebar-nav > li > a:hover {
    color: #fff;
    background-color: #303641;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover,
.sidebar-nav > .active > a,
.sidebar-nav > .active > a:focus,
.sidebar-nav > .active > a:hover {
    color: #fff;
    background-color: #252a32;
}


@media(min-width:768px) {

    #sidebar-wrapper {
        width: 220px;
    }

    #page-content-wrapper {
        padding-left: 240px;
    }

    .navbar {
        left: 220px;
    }
}



